body{
	margin: 0;
}

.container {
	background: white;
	width: 100%;
	margin: 0;
	padding-bottom: 40px;
}

h1 {
	font-family: 'Libre Baskerville', serif;
	font-size: 60px;
	display: inline-block;
	margin-top: 39vh;

}

span{
	font-size: 20px;
	display: block;
}
h2 {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;

}
header {
	border-bottom: 10px solid rgb(6,66,115);
	width: 100%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

header aside{
	background: url(images/mom-daughter.jpg) center no-repeat;
	background-size: cover;
	height: 100vh;
	width: 48vw;
	float: left;
}

header section{
	width: 45vw;
	float: right;
    height: 100vh;
}


main {
	width: 80%;
	margin: 0 auto;
	max-width: 800px;
	padding: 80px;
}

p {
	font-family: 'Roboto', sans-serif;
	line-height: 26px;
	font-size: 18px;

}

img {
	margin: 10px auto;
}

footer{
	border-top: 10px solid rgb(6,66,115);
	margin: 0 auto;
	padding: 30px 80px;
	text-align: center
}

footer p{
	font-size: 30px;
	text-transform: uppercase;
}

footer a {
	background: white;
	padding: 16px 20px;
	font-weight: 700;
	color: rgb(6,66,115);
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	border: 3px solid rgb(6,66,115);
	transition: ease .5s all;
}

footer a:hover {
	background: rgb(29,162,216);
	border: 3px solid rgb(29,162,216);
	padding: 16px 20px;
	color: white;
}